header 
    @include flexCenter($direction: column)
    flex: 1
    background-image: url("/images/green.jpg")
    background-size: cover
    height: 100%
    
    .logo-container 
        @include flexCenter($direction: row)
        background-color: rgba(0, 0, 0, .5)
        width: 100%
        h1
            font-family: Norse Bold
            color: white
            font-size: 5rem
